*{
  margin: 0;
}


body{
  /* background-image: url(./bg.jpg); */
  background-color: hsl(185, 67%, 45%);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}



.container{
  height: 560px;
  width: 500px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
}

.top-pattern{
  height: 220px;
  width: 500px;
  background-image: url(textureFinal.jpg);
  background-repeat: repeat no-repeat;
  background-size: cover;
  border-radius: 20px 20px 0px 0px;

}

.content{
  height: 200px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  line-height: 1.5;
  padding-bottom: 20px;
  font-family: 'Kumbh Sans', sans-serif;
  position: relative;
}

.heading{
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: space-evenly;
  /* background-color: crimson; */
  width: 300px;
  height: 100px;
}
#age{
  font-size: 22px;
  font-weight: 100;
}

.content img{
  border: 5px solid white;
  border-radius: 50%; 
  height: 150px;
  position: absolute;
  top: -80px;
  right: 170px;
  width: 150px;
}




.footer{
  height: 120px;
  width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid rgba(187, 185, 185, 0.589);
  line-height: 1.5;
}


a{
  color: rgb(8, 37, 82);
  background-color: transparent;
  text-decoration: none;
}

.stats p:first-child{
  font-weight: 600;
  font-size: 20px;
  font-family: 'Kumbh Sans', sans-serif;
}
.stats p:last-child{
  font-weight: 400;
  font-size: 15px;
  font-family: 'Kumbh Sans', sans-serif;
}

button{
  height: 50px;
  width: 100%;
  border-radius: 10px;
  background-color: rgb(173, 104, 190);
  cursor: pointer;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 20px;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 900;

}